<settings>
	<setting key="Port">27015</setting>
	
	<setting key="GameRange">1000</setting>
	<setting key="CheckpointRange">20</setting>
	
	<setting key="HareDemandedPositionUpdateInterval">20</setting>
	<setting key="HoundsDemandedPositionUpdateInterval">10</setting>
	
	<setting key="RequiredInitialHarePositions">3</setting>
	<setting key="VictoriousHarePositions">30</setting>
	
	<setting key="ServerMode">0</setting>
</settings>
